@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

html {
  font-size: 62.5%;
}

/* body */

body {
  min-height: 100vh;
  min-width: 100vw;
  /* background-image: url(https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
  background-image: url("../pics/small_size.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 1.3rem;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 50vh;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-container {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.6rem;
}

.question-container {
  padding: 0.5rem;
}

.API-info-container {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid black;
  position: relative;
  padding: 0.5rem;
}

.API-info-container .fact-selection-text {
  transition: 0.5s;
}

.API-info-container .expand-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.answer {
  margin-top: 0.5rem;
  height: 60px;
  transition: 0.5s;
}

.hidden {
  height: 0px;
  overflow: hidden;
}

.Api-info {
  display: inline-block;
}

.inputs-to-insert {
  display: inline;
}

.API-info input {
  width: 3rem;
  border: solid transparent;
  opacity: 0.6;
  background-color: grey;
  color: white;
  border-radius: 0.5rem;
}
.API-info select {
  width: 6rem;
  border: solid transparent;
  opacity: 0.6;
  background-color: grey;
  color: white;
  border-radius: 0.5rem;
}

.form-btn {
  display: none;
}
